################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootballLeague/FootballLeague/FootballLeague/obj
