################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootballLeague/FootballLeague/FootballLeague/obj
/FootballLeague/FootballLeague/.vs
/.vs
/FootballLeague/FootballLeague/FootballLeague.Domain/obj
/FootballLeague/FootballLeague/FootballLeague.Domain/bin/Debug/net6.0
/FootballLeague/FootballLeague/FootballLeague/bin/Debug/net6.0
